@import '../variables.scss';

.ingevec-container {
  background-image: url('../assets/bg.jpg');
  background-position: center;
  background-size: cover;
}



img.ingevec-logo-empresa {
  max-width: 80%;
  width: 200px;
  height: auto;
  margin-bottom: 80px;
  animation: animarElementos 1s ;
}

.obtener-ip-componente-container {
  flex-grow: 1;
}

.ingevec-titulo-principal {
  max-width: 800px;
}

.ingevec-subtitulo-principal {
  color: $celeste;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 400;
}

.ingevec-fondo-principal {
  background-color: rgb(31 53 94 / 92%);
}

.ingevec-fondo-after {
  position: relative;
}

.ingevec-columna-interior {
  padding: 60px;
  position: relative;
  animation: mostrarElementos 1.5s;
}


.ingevec-creditos {
  @include transition-all(0.5s);
  color: #fff;
  text-decoration: none;
  font-size: 0.85em;
  position: absolute;
  left: 60px;
  bottom: 20px;
  margin-right: 60px;
}

.ingevec-creditos:hover {
  color: $celeste;
}

.ingevec-ip {
  display: flex;
  align-items: center;
}

.ingevec-columna-dinamica {
  @include transition-all(0.5s);
}


@keyframes animarElementos {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  50% {
    opacity: 1;
 
  }
  100% {
    transform: translateX(0px);
  }
}



@keyframes mostrarElementos {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

