<div class="ingevec-container">
  <section class="container-fluid ">
    <div class="row">
      <div class="col-sm-{{sharedService.primeraColumna}} ingevec-columna-dinamica ingevec-fondo-principal">
        <div [style.minHeight.px]="windowHeight"  class="ingevec-columna-interior">
          <a routerLink="/"><img class="ingevec-logo-empresa" src="{{logoIngevec}}" alt="logo-empresa"/></a>
          <h3 class="ingevec-subtitulo-principal">por pedro miguras</h3>
          <h2 class="ingevec-titulo-principal">Prueba Técnica Ingevec</h2>
          <obtener-ip class="obtener-ip-componente-container"></obtener-ip>
          <a class="ingevec-creditos" href="https://pedromiguras.com/">Desarrollado por Pedro Miguras como ejercicio técnico para Ingevec.</a>
        </div>
      </div>
      <div class="col-sm-{{sharedService.segundaColumna}} ingevec-columna-dinamica">
        <div [style.minHeight.px]="windowHeight" class="ingevec-columna-interior ingevec-ip">
          <mostrar-ip></mostrar-ip>
        </div>
      </div>
    </div>
  </section>
</div>